<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.ditoo.tvprobe"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28"/><uses-permission android:name="android.permission.BLUETOOTH"/><uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/><uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/><application android:label="Ditoo BLE test" android:theme="@android:style/Theme.NoDisplay"><receiver android:name=".Control" android:exported="true"/></application></manifest>
